.carousel-item{
    max-height: 500px !important;
}

.carousel-item img {
    max-height: 500px;
    min-height: 500px;
    object-position: center;
    object-fit: cover;
}

.btn:hover{
    cursor: pointer;
}

.navbar .active{
    color: rgb(211, 130, 9) !important;
}
